body
{
  background: #888;
}


h1{
  height: auto;
  width: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: green;
}
ul li {
  display: inline-block;
  background: #999;
  color: white;
  list-style-type: none;

}
img{
  height: auto;
  width: auto;
  margin: 0px;
  padding: 0px;
}
.onPage{
    clear:both;

}
