

h1{
  height: auto;
  width: 40%;
  display: flex;
  position: relative;
  color:#494E6B;
  margin-left: 60%;

}

img{
  height: 30%;
  width: 30%;

  padding: 5px;
  background: #666;
  margin-left: 5%;
}

.letstry{
  margin-bottom: -2%
}
p{
  height: auto;
  width: 60%;
  display: flex;
  position: relative;
  align-items: right;
  justify-content: right;
  margin-bottom: -25%;
  margin-top: 2.5%;
  margin-left: 40%;
  font-family: 'Inconsolata', monospace;
  color:#98878F

}
