
header{
  background:black;
  color: white;
  padding: 30px 30px 50px 30px;
}

nav ul li{
  /*can assign fixed widths with inline block*/
  display: inline-block;
  background: #999;
  color: white;
  list-style-type: none;
  /*Adds padding to the inside of the thing instead of outside */
  padding: 5px 15px;
}
nav ul li a
{
  color: white;
  font-family: 'Pangolin', cursive;
}

.navBar{
  clear:both;
}
/*Creates fake element after element and can style it */
.navBar:after{
}

.col{
  background: #333;
  float: left;
  color: white;
  border-radius: 5px;
  padding: .5%;
  margin: .5%;
  width: 23%;
  align-items: center;

}
.hide{
    display: none;
}
.appear{
  display:block;
}
#dd{
  background: black;
}
.sam{
  background: black;
}
body
{
  background: #6FB98F;
}
