p{
  margin-left:25%;
  margin-right:25%;
  width: 50%;
  position: relative;
  text-align: center;
  justify-content: center;
}
.name{
  color: white;
  font-size: 75px;
  font-family: 'Alegreya', serif;

  margin-bottom: 0;

}

.binf{
  color: rgb(255,215,0);
}
