p{
  margin-left:25%;
  margin-right:25%;
  width: 50%;
  position: relative;
  text-align: center;
  justify-content: center;
}
.name{
  color: #98878F ;
  font-size: 75px;
  font-family: 'Alegreya', serif;
  margin-bottom: 0;

}
.binf{
  color:#98878F;
}
.mid{
  color: #494E6B;
  margin-left:auto;
  margin-right:auto;
  width:37%;
  font-size: 25px
}
